header
, #content
, footer
{
	max-width: 1024px;
	margin: 0 auto;
}
#content
{
	margin-top: 15px;
	margin-bottom: 15px;
	padding-left: 15px;
	padding-right: 15px;
}
#content > h1
{
	font-size: 180%;
}
.align-with-btn-baseline
{
	position: relative;
	top: 2px;
}
.login-form
, .user-update-form
, .user-creation-form
{
	width: 400px;
}
.login-form input[type="text"]
, .login-form input[type="password"]
, .login-form select
, .user-update-form input[type="text"]
, .user-update-form input[type="password"]
, .user-update-form select
, .user-creation-form input[type="text"]
, .user-creation-form input[type="password"]
, .user-creation-form select
{
	margin-bottom: 10px;
}
footer
{
	border: 1px solid #eee;
	border-radius: 4px;
	padding: 15px;
	background-color: #fdfdfd;
}
